###  WAPP to check wheather character is vowels or consonent

In [10]:
n = input('Enter a character:')
if len(n) == 1:
    if n.isalpha():
        if n in 'aieouAIEOU':
            print(n,'is vowels')
        else:
            print(n,'is consonent')
    else:       
        print('Entered value is not a character')
else:                
    print('Enter a valid single alphabet')

Enter a character:m
m is consonent

### WAPP to enter any alphabet and check wheather it is in upper case or lower case

In [15]:
a = input('Enter a character: ')
if len(a) == 1:
    if a.isalpha():
        if a.isupper():
            print(a,'is in a upper case')
        else:
            print(a,'is in a lower case')
    else:
        print('Entered value is not a character')
else:
    print('Enter a valid single alphabet')

Enter a character: M
M is in a upper case

### WAP to print every character of a string entered by the user in a new line using a loop

In [1]:
s = input('Enter a string:')
for i in s:
    print(i)

Enter a string:manisha lipare
m
a
n
i
s
h
a

l
i
p
a
r
e

### WAP to find the length of the string with and without using len function

In [29]:
s = input('Enter a string:')
print(len(s))
c = 0
for i in s:
    c+= 1
print('The length of the string is',c)

Enter a string:machine learning
16
The length of the string is 16

### WAP to check if the word 'orange' is present in the string

In [26]:
s = input('Enter a string:')
l = s.split()
for i in l:
    if i.lower() == 'orange':
        print('The Orange is present in a given string')
    else:
        print('The Orange is not present in a given string')

Enter a string:This is orange juice
The Orange is not present in a given string
The Orange is not present in a given string
The Orange is present in a given string
The Orange is not present in a given string

In [28]:
s = input('Enter a string:')
l = s.split()
m = ''
for i in l:
    if i.lower() == 'orange':
        m = i
        print('The Orange is present in a given string',m)

Enter a string:This is Orange juice
The Orange is present in a given string Orange

In [12]:
s = input('Enter a string:')
l = s.split()
m = ''
for i in l:
    if i.lower() == 'orange':
        m = i
        print('The Orange is present in a given string',m)

Enter a string:manisha lipare

### WAP to find the number of vowels, consonants, digit and white space characters in a string

In [21]:
s = input('Enter a string:')
vowels = ['A','I','E','O','U','a','i','e','o','u']
v = 0
c = 0
d = 0
w = 0
for i in s:
    if i.isdigit():
        d+= 1
    elif i == ' ':
        w+= 1
    elif i in vowels:
        v = v+1
    else:
        c+=1  
print('The number of Vowels-',v,'consonant-',c,'digit-',d,'& white space-',w)

Enter a string:manisha rakesh lipare 1234567
The number of Vowels- 8 consonant- 11 digit- 7 & white space- 3

### WAP to count Uppercase,lowercase,special character and numeric values in a given string

In [24]:
s = input('Enter a string:')
n = 0
u = 0
l = 0
sp = 0

for i in s:
    if i.isnumeric():
        n+= 1
    elif i.isupper():
        u+=1
    elif i.islower():
        l+=1
    else:
        sp+=1
        
print('The number of numeric value-',n,'Uppercase-',u,'Lowercase-',l,'& Special char-',sp)

Enter a string:MaNisHa$$LipaRe&&@@1234567
The number of numeric value- 7 Uppercase- 5 Lowercase- 8 & Special char- 6

### WAP to make a new string with all the consonants deleted from the string

In [25]:
s = input('Enter a string:')
vowels = ['A','I','E','O','U','a','i','e','o','u']
m =''
for i in s:
    if i in vowels:
        m = m+i
print('The new string with all the consonants deleted from the string:',m)

Enter a string:'Hello,have a good day'
The new string with all the consonants deleted from the string: eoaeaooa

### WAP to remove the nth index character from a non empty string

In [12]:
s = input('Enter a string:')
n = len(s)

for i in s:
    if n > 1:
        print(i,end='')
        n-=1

Enter a string:manisha
manish

### WAP to change a given string to new string where the first and last characters have been exchanged

In [38]:
s = input('Enter a string:')
l = []
l.extend(s)
temp = l[0]
l[0] = l[-1]
l[-1] = temp
print(''.join(l))

Enter a string:manisha lipare
eanisha liparm

In [37]:
s = input('Enter a string:')
print(s[-1]+s[1:-1]+s[0])

Enter a string:Anvita Lipare
envita LiparA

### WAP to count the occurence of each word in a given sentence

In [39]:
s = input('Enter a string:')
w = input('Enter a single word:')
l = s.split()
word = 0
for i in l:
    if w == i:
        word+=1
print('The occurence of the given word -',word)

Enter a string:'Hello,have a good day'
Enter a single word:good
The occurence of the given word - 1

In [40]:
s = input('Enter a string:')
w = input('Enter a single word:')
l = s.split()
word = 0
for i in l:
    if w == i:
        word+=1
print('The occurence of the given word -',word)

Enter a string:'Hello,have a good day'
Enter a single word:Anvi
The occurence of the given word - 0

### WAP to count the occurence of a given character in astring

In [44]:
s = input('Enter a string:')
print({i:s.count(i) for i in s})

Enter a string:machine learning
{'m': 1, 'a': 2, 'c': 1, 'h': 1, 'i': 2, 'n': 3, 'e': 2, ' ': 1, 'l': 1, 'r': 1, 'g': 1}

In [45]:
s = input('Enter a string:')
c = input('Enter a single character:')
count = 0
for i in s:
    if i == c:
        count+=1
print('The occurence of the given character -',count)

Enter a string:machine learning
Enter a single character:e
The occurence of the given character - 2

### WAP to find last 10 character of a string

In [53]:
s = input('Enter a string:')
print(s[-10:])

Enter a string:Python is a case sensitive language
e language

### WAP to convert a given string to all uppercase if it contains at least 2 uppercase character in the first 4 character

In [67]:
s = input('Enter a string:')
c = 0
for i in s[:4]:
    if i.isupper():
        c+=1
print(c)
if c >= 2:
    print(s.upper())
else:
    print('The first 2 character is not in uppencase')

Enter a string:PYThon is a case sensitive language
3
PYTHON IS A CASE SENSITIVE LANGUAGE

### WAP to find the first repeated character in a given string

In [4]:
s = input('Enter a string:')
count = 0
for i in s[1:]:
    if i == s[0]:
        count+=1
        
print('The first repeated character in a string',s[0])

Enter a string:ManishaM
The first repeated character in a string M

In [8]:
s = input('Enter a string:')
c = ''
for i in range(0,len(s)):
    for j in range(i+1,len(s)):
        if (s[i]==s[j] and s[i]!=''):
            c = s[i]
            break
print('The first repeated character in a string',c)

Enter a string:Manisha Lipare
The first repeated character in a string a

### WAP to count even and odd numbers in a string

In [11]:
s = int(input('Enter how many number you want:'))
e = 0
o = 0
for i in range(1,s+1):
    num = int(input('Enter a number:'))
    if num%2==0:
        e+=1
    else:
        o+=1
print('The count of even number is',e,'and odd number',o)

Enter how many number you want:9
Enter a number:1
Enter a number:22
Enter a number:11
Enter a number:4
Enter a number:7
Enter a number:9
Enter a number:15
Enter a number:18
Enter a number:10
The count of even number is 4 and odd number 5

### WAP to remove the characters which have odd index values of a given string

In [16]:
s = input('Enter a string:')
for i in s[1::2]:
    print(i,end='')

Enter a string:manisha lipare
aih iae

### Python function to reverses a string if its length is a multiple of 5

In [19]:
s = input('Enter a string:')
def mul(n):
    if len(s)%5 == 0:
        print(s[::-1])

mul(s)

Enter a string:manis
sinam
sinam

In [1]:
n = int(input('Enter number'))
i = 1
while i<=n:
    print(i)
    i+=1

Enter number5
1
2
3
4
5

In [20]:
s = 0
num = int(input('Enter a number:'))
for i in range(1,num+1,2):
    s = s + i
    
    
    
print(s)

Enter a number:100
2500

In [21]:
l = eval(input('Enter a list:'))
print(max(l,key=lambda value:int(value)))

Enter a list:[20,80,70,90]
90

In [26]:
from functools import reduce
n1 = int(input('Enter a number:'))
n2 = int(input('Enter a number:'))
n3 = int(input('Enter a number:'))
l =[n1,n2,n3]
print(reduce(lambda x,y:max(x,y),l))

Enter a number:23
Enter a number:45
Enter a number:10
45

### To format a number with a percentage ex.5%

In [11]:
n = float(input('Enter a number:'))
n = round(n*100)
print(n,'%')

Enter a number:0.05
5 %

### WAP to reverse words in a string

In [16]:
n = input('Enter a string:')
l = n.split()
print(l[::-1])

Enter a string:manisha rakesh lipare
['lipare', 'rakesh', 'manisha']

In [18]:
n = input('Enter a string:')
l = n.split()
for i in l:
    print(i[::-1])

Enter a string:manisha lipare
ahsinam
erapil

In [26]:
n = input('Enter a string:')
l = n.split()
l = l[::-1]
for i in l:
    print(i[::-1], end =' ')

Enter a string:manisha rakesh lipare
erapil hsekar ahsinam

### WAP to swap case of a given string

In [25]:
s = input('Enter a string:')
print(s.swapcase())

Enter a string:MAnIshA
maNiSHa

### WAP to remove spaces from a string

In [28]:
s = input('Enter a string:')
l = s.split()
for i in l:
    print(i,end='')

Enter a string:manisha lipare
manishalipare

### To remove duplicates characters of a string

In [38]:
s = input('Enter a string:')
m = []
m.extend(s)
print(m)
n = []
for i in m:
    if i not in n:
        n.append(i)

print(''.join(n))

Enter a string:mmmmaaannnuuu
['m', 'm', 'm', 'm', 'a', 'a', 'a', 'n', 'n', 'n', 'u', 'u', 'u']
manu

In [39]:
l = eval(input('Enter a list:'))
l1 = []
for i in l:
    if i not in l1:
        l1.append(i)

print(l1)

Enter a list:[10,10,20,30,30,70,70]
[10, 20, 30, 70]

In [41]:
s = input('Enter a string:')
print(set(s))

Enter a string:mmmmmaaaannnn
{'m', 'n', 'a'}

In [42]:
s = eval(input('Enter a string:'))
print(set(s))

Enter a string:[1,1,1,2,2,3]
{1, 2, 3}

### To find the  area of circle

In [43]:
r = int(input('Enter a radius of circle:'))
a = 3.14*r*r
print('The area of circle is:',a)

Enter a radius of circle:2
The area of circle is: 12.56

### to find sum of square of first n natural number

In [48]:
n = int(input('Enter a number:'))
i = 1
sum = 0
for j in range(n):
    m = i*i
    print('Square of',i,'is',m)
    sum+=m
    i+=1
    
print('The sum of square of',n,'numbers is -',sum)

Enter a number:10
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100
The sum of square of 10 numbers is - 385

In [51]:
n = int(input('Enter a number:'))
sum = 0
for i in range(1,n+1):
    m = i*i
    print('Square of',i,'is',m)
    sum+=m
     
print('The sum of square of',n,'numbers is -',sum)

Enter a number:10
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100
The sum of square of 10 numbers is - 385

###  To find sum of cube of first n natural numbers

In [52]:
n = int(input('Enter a number:'))
sum = 0
for i in range(1,n+1):
    m = i**3
    print('Cube of',i,'is',m)
    sum+=m
     
print('The sum of cube of',n,'numbers is -',sum)

Enter a number:10
Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125
Cube of 6 is 216
Cube of 7 is 343
Cube of 8 is 512
Cube of 9 is 729
Cube of 10 is 1000
The sum of cube of 10 numbers is - 3025

### To calculate simple interest

In [55]:
p = int(input('The principal is:'))
t = int(input('The time period is:'))
r = int(input('The rate of interest is:'))
si = (p*t*r)/100
print('The simple interest is:',si)

The principal is:200000
The time period is:5
The rate of interest is:5
The simple interest is: 50000.0

### To calculate compound interest

In [62]:
p = float(input('The principal is:'))
t = float(input('The time period is:'))
r = float(input('The rate of interest is:'))
amt = p*((1+(r/100))**t)
ci = amt - p
print('The compound interest is:',ci)

The principal is:10000
The time period is:5
The rate of interest is:10.25
The compound interest is: 6288.946267774416

### To find out number is prime or not

In [69]:
n = int(input('Enter a number:'))
if n>1:
    for i in range(2,int(n/2)+1):
        if (n % i) == 0:
            print(n,'is not a prime number')
            break
    else:
        print(n,'is a prime number')
else:
    print(n,'is not a prime number')

Enter a number:13
13 is a prime number